spring:
  application:
    name: location-user

  datasource:
    url: jdbc:postgresql://localhost:5432/${POSTGRES_DB:userdb}
    username: ${POSTGRES_USER:user}
    password: ${POSTGRES_PASSWORD:password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false

google:
  maps:
    api-key: ${GOOGLE_MAPS_API_KEY}
